.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  &__userInteraction {
    display: flex;
    align-items: center;
    gap: 25px;
  }
}